
<%- include('header')%>
    <!--the wedding form-->
    <div class="  container-fluid  attend">
        <h3 class="text-center">Please Fill the form below</h3>
        <form action="/confirm" method="POST" id="confirmationForm">
            <div class="form-group row">
                    <div class="col-sm-4">Are you planning to come ?</div>
                    <div class="col-sm-4">
                    <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="yes" name="decision" value="Yes" class="custom-control-input">
                            <label class="custom-control-label" for="yes">Yes</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="no" name="decision" value = "No" class="custom-control-input">
                            <label class="custom-control-label" for="no">No</label>
                    </div>
                    </div>
            </div>
            <div class="form-group row">
                <label class ="col-sm-4 col-form-label" for="name">Name</label>
                <div class="col-sm-5">
                    <input type="text" required class="form-control" id="name" name = "name1" placeholder="Your name">
                </div>  
            </div>
            
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="food">Allergies</label>
                <div class=" col-sm-5">
                    <input type="text"  class="form-control" id="food" name="food1" placeholder="Food allergies">
                </div>

            </div> <br/>
            <a id="addguest" class="btn btn-light" onclick="addnewguest()" title="Add another guest"><i class="fas fa-user"></i><i class="fas fa-plus"></i> </a> <br/><br>

            <div class="form-group row">
                <label class ="col-sm-4 col-form-label" for="comments">Do you have any comments/Questions?</label>
                <div class="col-sm-5">
                    <textarea type="text" required class="form-control" id="comments" name="comments" placeholder="any comments"></textarea>
                </div> 
            </div>
            <input type="hidden" id="count" name="count" value="1">
            <button class="btn btn-primary btn-lg confirmationbutton" type="submit" name="submit">Confirm</button>
        </form>
    </div>



    <%- include('footer')%>

