
    <!--footer-->   <br />   <br />
    <footer class="container-fluid sticky">
            <div class="text-center ">
                <p><%= data.footer_txt%> &copy; 2019</p>
            </div>
        </footer>
    
        <script src="flipclock.js"></script>
        <script src="wedding.js"></script>
        <script>window.onscroll = function() {scrollFunction()};</script>
     
    </body>
    </html>
    