    <!--footer-->
    <footer class="container-fluid text-center bg-dark">
            <div class="footer-copyright text-center py-0">
                <p class="text-light bg-dark">Ahmed and Marina's Wedding website &copy; 2019</p>
            </div>
        </footer>
    
        <script>window.onscroll = function() {scrollFunction()};</script>
    </body>
    </html>
    