<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ahmed&Marina wedding site</title>
    <script src="wedding.js"></script>
    <link rel="stylesheet" href="wedding.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <!--Scrolling up button-->
    <button onclick="topFunction()" id="UpBtn" title="Go to top">Top</button>
    <!--Navbar -->
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Ahmed and Marina's Wedding</a>
            <a class="nav-link text-white bg-dark" href="/#details">Wedding details</a>
            <a class="nav-link text-white bg-dark" href="/#location">Wedding location</a>

            <a class="nav-link text-white bg-dark"  href="/confirm">Confirm your attendance</a>
        </nav>