<div class="invite">  
        <img class="invite" src="/images/invitationCropped.jpg" alt="pic">
    </div>
    <!--the clock -->
    <div class=" clockbg " id="detailsc">
         <div class='clock'></div> 
    </div>

<div class=" box text-center" id="details">
        <h3> Välkommen!</h3>
        <p> Vi har den äran att meddela att vi firar inledandet av vårt äktenskap tillsammans med släkt och vänner den 27 Augusti 2019.</p>
        <p>Tillställningen hålls på Sökö båtklubbs paviljong i Esbo kl. 14:30.</p>
        <p> Vi antar att ni är här för att ni mottagit vår inbjudan. Då ber vi er vänligen att anmäla er närvaro genom att klicka på knappen nedan. Vi tar också gärna emot anmälan över telefon eller annat medel som känns bäst för er.</p>
        <p>Vänliga hälsningar, Marina och Ahmed</p>
        <img id="ourphoto" src="/images/us.jpeg" alt="Ahmed&Marina">
        <br/>
        <a class="btn btn-primary btn-lg confirmattendance" href="/confirm">Confirm Attendance</a>
        
</div> <br/>
 <!--Map location-->
 <div class="text-center" id="location">
        <h4>Slutligen Här är platsen på kartan</h4>