<%- include('header')%>
<div class="  container center-text "  id="bye">
    <h1>Thank you for your response Hope to see you there =)</h1>
    <img id="gifimg" src="/images/us.gif" alt="Bye" >

</div>

<%- include('footer')%>