<%- include('header')%>
<div class="  container center-text "  id="bye">
    <h1><%= data.thankyou_message %></h1>
    <img id="gifimg" src="/images/us.gif" alt="Bye" >

</div>

<%- include('footer')%>