* {box-sizing:border-box}
body, html {
  height: 100%;
  margin: 0;
  background-color:#eeebe2;

}
 
#UpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(89, 159, 180);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#confirmattendance:hover{
  background-color: rgb(55, 101, 116);
} 

#other {
    display: none;
}

#giftValues {
    display: none;
}

#giftLables{
    display: none;
}

#ourphoto{
  height: 225px;
  width: 300px;
  padding:20px;
}
.


#names{
  font-family: Clicker Script;
  font-size: 6vw;
}
#ring {
  height: 37px;
  width: 50px;
}

.invite{
  width: 100%;
  padding:0px;
  margin:0px;

}
 
.navetext{
  font-size: 15px;
}


.page-info{
  padding-top: 30px;
  position: relative;
  height: 100%;
  padding-bottom: 20px;

}
.line{
  position: relative;
}

.link {
  color:black;
}

/*Details class*/
.box {
    background-color: #eeebe2;
    width:100%;
    margin:auto;
    padding-bottom: 6px; 
    padding:10px;
}
.box p {
  padding-left:15%;
  padding-right: 15%;
}

#location{
  margin:0;
  background-color:#eeebe2;
  width:100%;
}
.sticky{
  width: 100%;
  background-color:#eeebe2;
 
}
.clockbg {
  background-color: #aadfe6;
  width: 100%;
  padding-top: 0px;
  margin-top:0px;
  border-top:0px;
}


iframe{
  width:71vw ;
  height:28vw;
}
#mobileiframe{
  display: none;
}
#bye img{
  margin:auto;
  width:60vw;
  height: 30vw;
  padding-left: 15%;
}
/*Controlling the size of the clock on phones*/
@media only screen and (max-width: 768px) {
  .clock{
    zoom: 0.34;
  }

  iframe{
    width:350px;
    height:350px;
  }
  #mobileiframe{
    display: block;
    margin:auto;
    overflow: hidden;
  }
  #bigiframe{
    display: none;
  }

  #gifimg{
  width:80vw;
  height: 40vw;
  }
}
.clock{
  padding:5%;
  width: 100%;
  
}


.confirmattendance{
  background-color:rgb(89, 159, 180);
}

.headernav {
  background-color:black;
  border-bottom: 3px solid white;
}

.confirmationbutton {
  background-color: green;
}

.attend{
padding:50px;
}


